<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
<parameter name="suitelevel" value="suitelevel"></parameter>
<listeners>
<listener class-name="MyPackage.Listener"/>
</listeners>
  <test thread-count="5" name="CarLoan">
  <parameter name="URL" value="carloan.com"/>
   <parameter name="Username" value="carloanuser"/>
    <classes>
       <class name="MyPackage.Day1"/>
   <!--   <class name="MyPackage.Day2"/>
       <class name="MyPackage.Day3"/> -->  
    </classes>
  </test> 
  
   <!--   <test thread-count="5" name="PersonalLoan">
    <classes>
      <class name="MyPackage.Day4">
       </class>
     </classes>
  </test> --> 
</suite> 
